<div class="col-xs-12">
  <h1>Choose a Motherboard</h1>
  <div ng-controller="MoboController">
    <div class="row">
      <!--  Moved the search to the navbar. But also added "filter" functionality. But wait...How does this template know what's happening in a whole other template/controller binding?
      This one is tough-->
    </div>
    <div>
      <!-- What's going on with this filter? PFM, that's what -->
      <div class="panel panel-default" ng-repeat="mobo in moboData">
        <div class="panel-body">
          <div class="col-xs-4 socket">{{mobo.name}}</div>
          <div class="col-xs-2 mobo-price">Price: {{mobo.price}}</div>
          <div class="col-xs-2 max-mem">Maximum memory: {{mobo.maxRAM}}GB</div>
          <div class="col-xs-2 max-slots">Total Memory Slots: {{mobo.ramSlots}}</div>
          <div class="col-xs-2 mobo-socket">Socket: {{mobo.socket}}</div>
          <div class="col-xs-2 add"><button class="btn btn-info btn-sm" ng-click="addMoboToComp(mobo)"><i class="glyphicon glyphicon-plus-sign" aria-hidden="true"></i></button></div>
        </div>
      </div>
    </div>
  </div>
</div>