<div class="col-xs-12">
  <h1>Choose your Motherboard Socket</h1>
  <div ng-controller="SocketController">
    <form name="myForm">
      <label for="singleSelect"></label><br>
      <select ng-model="options" ng-change="valueChange(options)" >
        <option value="">Socket</option> <!-- not selected / blank option -->
        <option value="AM4">AM4</option> <!-- interpolation -->
        <option value="TR4">TR4</option>
        <option value="LGA1151">LGA1151</option>
        <option value="LGA2011-3">LGA2011-3</option>
        <option value="LGA2066">LGA2066</option>
      </select><br>
      <button ng-click="moboRedirect()">Submit</button>
    </form>
  </div>
</div>